<section class="py-5 text-center container">
	<div class="row py-lg-5">
		<div class="col-lg-8 col-md-8 mx-auto">
			<p class="lead text-muted">
				ご注文ありがとうございました！	
			</p>
		</div>
	</div>
</section>

